<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<main class="container">

    <header>
        <h1>Lista de Materias</h1>
    </header>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="materia : ${materias}">
                <td th:text="${materia.id}"></td>
                <td th:text="${materia.nombre}"></td>
            </tr>
            </tbody>
        </table>

    </div>



</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
