<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<main class="container">

    <header class="jumbotron my-4">
        <h1>Actualizar Materia</h1>
    </header>
    <div class="table-responsive">
        <table class="table fs-4">
            <thead>
            <tr>
                <th>Nombre Actual</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${materia.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive my-4">
    <form th:action="@{/materias/actualizar/{id}(id=${materia.id})}" method="post" th:object="${materia}">
        <div class="mb-3">
            <label for="inputName" class="form-label fs-4">Nuevo Nombre</label>
            <input type="text" class="form-control" id="inputName" th:field="*{nombre}" placeholder="Nombre Materia nueva" required>
        </div>
        <div class="my-4 g-5">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="/materias" class="btn btn-primary">Volver</a>
</div>
    </form>
    </div>


</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>