<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<main class="container">
    <header class="jumbotron my-4">
        <h2>Actualizar Alumno</h2>
    </header>


    <form th:action="@{/alumnos/actualizar/{id}(id=${alumno.id})}" method="post" th:object="${alumno}">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="inputRut" class="form-label">Rut</label>
            <input type="text" class="form-control" id="inputRut" th:field="*{rut}" placeholder="Rut alumno" required>
        </div>

        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputName" th:field="*{nombre}" placeholder="Nombre Alumno" required>
        </div>

        <div class="mb-3">
            <label for="inputDireccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion" th:field="*{direccion}" placeholder="Direccion Alumno" required>
        </div>

        <label class="my-4 fs-4">Seleccionar Materias:</label><br>
        <div th:each="materia : ${materias}">
            <input type="checkbox" th:field="*{materiasIds}" th:value="${materia.id}"
                   th:checked="${alumno.materiasIds != null && alumno.materiasIds.contains(materia.id)}">
            <label th:text="${materia.nombre}"></label><br>
        </div>

        <div class="my-4" >
            <button type="submit" class="btn btn-primary">Guardar Alumno</button>
            <a href="/alumnos" class="btn btn-primary">Volver</a>
        </div>
    </form>


</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>